.display {
  margin: 10px;
  margin-bottom: 18px;
  padding: 5px;
  height: 30px;

  width: auto;
  font-weight: 65px;
}
.display input {
  background-color: rgb(136, 152, 132);
  font-size: x-large;
  font-weight: 1100;
  border-radius: 15px;
  height: 40px;
  width: 7cm;
  margin: 3px;
}
